<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>edai</title>
    <link rel="stylesheet" href="css/about.css" />
    <link rel="icon" href="img/logo.svg" type="image/x-icons" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gelasio:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Avenir+Arabic:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="contact">
      <div class="detail">
        <a
          href="https://www.instagram.com/suraj_gitte_6708?igsh=OXQ5bGJhZXhyMjR2"
          target="_blank"
        >
          <i class="fa-brands fa-square-instagram"></i
        ></a>
        <a
          href="http://www.linkedin.com/in/suraj-gitte-7b71a7288"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/Suraj6708" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="#">+91 9860126708</a>
      </div>

      <div class="login">
        <a href="">Login</a>
      </div>
    </div>

    <!-- nav bar  -->

    <%- include("partialls/navbar") %>

    <div class="slideshow-container">
      <div class="mySlides fade image-container">
        <img src="img/corousel-6.jpg" style="width: 100%" />
      </div>
      <div class="mySlides fade image-container">
        <img src="img/corousel-5.jpg" style="width: 100%" />
      </div>
      <div class="mySlides fade image-container">
        <img src="img/corousel-4.jpg" style="width: 100%" />
      </div>
      <div class="mySlides fade image-container">
        <img src="img/corousel-3.jpg" style="width: 100%" />
      </div>
      <!-- Add more slides as needed -->
    </div>
    <div class="overlay">
      <h1 class="idk heading">Creating smiles, spreading hope!</h1>
      <p class="taglinepara">
        We ensure your contributions reach those in need, right from your
        doorstep to theirs.
      </p>
      <a href="/donate" class="donation">Donate</a>
    </div>

    <div class="aboutus_div">
      <div class="aboutuslogo">
        <img src="img/logo.svg" alt="" width="100px" height="100px" />
      </div>

      <h1 class="aboutusheadn artistic-heading">ABOUT US</h1>
      <div class="container">
        <p class="centered-paragraph">
          "Hey there! I'm Avishkar and I'm Suraj and We're the masterminds
          behind Door Step Donation, and we're thrilled to share our story with
          you. Imagine two first-year engineering students, just starting out at
          Vishwakarma Institute of Technology in Pune. That's us—driven by our
          love for programming and problem-solving.
          <br />
          Sitting in those crowded lecture halls, our minds were buzzing with
          ideas. We couldn't shake off the feeling that there was something we
          could do to make a real impact on the world. That's when we noticed a
          common struggle: people wanted to donate but were held back by time
          and distance.
          <br />
          So, fueled by late-night coding sessions and more cups of coffee than
          we can count, we set out to change that. We wanted to create a
          solution that would make giving back as easy as possible. And thus,
          Door Step Donation was born—a platform that lets you schedule donation
          pickups right from your doorstep, connecting you with NGOs in need.
          <br />
          Our goal? To empower you to make a difference, no matter how busy your
          schedule or where you live. With innovation as our driving force,
          we're not just dreaming of a better world—we're building it, one
          pickup at a time. So, when you schedule a donation pickup with us,
          know that it's not just about the items you're giving—it's about
          joining us on this journey to redefine philanthropy. Together, let's
          make a difference.
        </p>
      </div>
    </div>
    <h1 class="aboutusheadn artistic-heading">OUR EUPHORIC TEAM</h1>

    <div class="teamdiv1">
      <div>
        <div class="ourteamparent">
          <img src="img/team.png" alt="" class="guyimg" />
          <div class="one tmember"></div>
        </div>
        <div class="memname">
          <h2>Avishkar Ghodke</h2>
        </div>
      </div>
      <div>
        <div class="ourteamparent">
          <img src="img/team.png" alt="" class="guyimg" />
          <div class="two tmember"></div>
        </div>
        <div class="memname">
          <h2>Suraj Gitte</h2>
        </div>
      </div>
      <div>
        <div class="ourteamparent">
          <img src="img/team.png" alt="" class="guyimg" />
          <div class="three tmember"></div>
        </div>
        <div class="memname">
          <h2>Varad Gheware</h2>
        </div>
      </div>
    </div>
    <div class="teamdiv2">
      <div class="t1div">
        <div class="ourteamparent">
          <img src="img/team.png" alt="" class="guyimg" />
          <div class="four tmember"></div>
        </div>
        <div class="memname">
          <h2>Adwey Ghatpande</h2>
        </div>
      </div>
      <div>
        <div class="ourteamparent">
          <img src="img/team.png" alt="" class="guyimg" />
          <div class="five tmember"></div>
        </div>
        <div class="memname">
          <h2>Rushikesh Ghuge</h2>
        </div>
      </div>
    </div>

    <hr class="line" />

    <div class="whydonate">
      <h1 class="aboutusheadn artistic-heading">WHY DONATE THROUGH US ?</h1>

      <div class="wdr1">
        <div class="wdritem">
          <div class="wdimg">
            <img src="img/about-us/11.svg" alt="" class="wdsvg" />
          </div>
          <div class="imgr"><h5>FEEL GOOD FACTOR</h5></div>
          <div class="imgp">
            <p>
              Giving gives you pleasure and makes you happier bringing a
              positive and uplifting effect on you.
            </p>
          </div>
        </div>
        <div class="wdritem">
          <div class="wdimg">
            <img src="img/about-us/12.svg" alt="" class="wdsvg" />
          </div>
          <div class="imgr"><h5>SUPER CONVENIENT</h5></div>
          <div class="imgp">
            <p>
              Donate reusable items from the convenience of your house. Avail
              doorstep pickup and get your donations delivered to the ones in
              need.
            </p>
          </div>
        </div>
        <div class="wdritem">
          <div class="wdimg">
            <img src="img/about-us/13.svg" alt="" class="wdsvg" />
          </div>
          <div class="imgr"><h5>GET REWARDED</h5></div>
          <div class="imgp">
            <p>
              Earn share points for every donation you make, which can be
              redeemed to get vouchers of your favourite brands
            </p>
          </div>
        </div>
      </div>
      <div class="wdr2">
        <div class="wdritem">
          <div class="wdimg">
            <img src="img/about-us/14.svg" alt="" class="wdsvg" />
          </div>
          <div class="imgr"><h5>TRANSPARENT PROCESS</h5></div>
          <div class="imgp">
            <p>
              Your donations reach the beneficiaries as it is through our
              verified trusted partner NGOs audited on regular basis.
            </p>
          </div>
        </div>
        <div class="wdritem">
          <div class="wdimg">
            <img src="img/about-us/15.svg" alt="" class="wdsvg" />
          </div>
          <div class="imgr"><h5>ECO-FRIENDLY</h5></div>
          <div class="imgp">
            <p>
              Keep your unwanted belongings out of landfill by giving them a new
              life and getting them in hands of someone who really requires
              them.
            </p>
          </div>
        </div>
        <div class="wdritem">
          <div class="wdimg">
            <img src="img/about-us/16.svg" alt="" class="wdsvg" />
          </div>
          <div class="imgr"><h5>YOUR DONATIONS ARE VALUED</h5></div>
          <div class="imgp">
            <p>
              We make sure your donations reach someone who really requires them
              by delivering them to the beneficiaries directly.
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr class="line" />

    <div class="footer">
      <div class="nameicons">
        <div class="name">
          <p class="door">DOOR STEP DONATION</p>

          <p></p>
        </div>

        <div class="icons">
          <i class="fa-brands fa-instagram footfa-brands"></i>
          <i class="fa-brands fa-whatsapp footfa-brands"></i>
          <i class="fa-brands fa-square-facebook footfa-brands"></i>
          <i class="fa-brands fa-linkedin footfa-brands"></i>
        </div>
      </div>

      <div class="quicklinks">
        <h3>QUICK LINKS</h3>
        <a href="">Home</a>
        <a href="">About Us</a>
        <a href="">Events</a>
      </div>

      <div class="contacts">
        <h3>CONTACTS</h3>
        <div class="add">
          <div class="ficon">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div>
            <p>
              666, Upper Indiranagar, Bibwewadi,<br />Pune, Maharashtra, INDIA -
              411 037
            </p>
          </div>
        </div>
        <div class="phoneno">
          <div class="ficon" id="phone">
            <i class="fa-solid fa-phone-volume"></i>
          </div>
          <p>+91 9766030221</p>
        </div>
        <div class="mail">
          <div class="ficon" id="mailicon">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <p>avishkar.ghodke23@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="footimg">
      <div>
        <img src="img/about-us/footer-img.svg" alt="" />
      </div>
      <div>
        <img src="img/about-us/footer-img.svg" alt="" class="" />
      </div>
    </div>
  </body>

  <script>
    //Auto Slide   if you need auto slide ,remove the commit "//"
    var slideIndex = 0;
    showSlides();
    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1;
      }
      slides[slideIndex - 1].style.display = "block";
      setTimeout(showSlides, 3000); // Change image every 2 seconds
    }
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"
  ></script>
</html>
