<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/rewards.css" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="icon" href="img/logo.svg" type="image/x-icons" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- navbar  -->

    <%- include("partialls/navbar.ejs") %>

    <!-- navbar  -->

    <div class="infodiv">
      <div class="title">
        <h2 class="artistic-heading">Rewards</h2>
      </div>
      <div class="uppara">
        <div class="info">
          <span class="mid">All kinds of exciting rewards waiting for you!</span
          ><br />

          Earn "Share Points" every time you donate your unwanted goods based on
          the carbon emissions reduced, and get closer to earning exclusive
          rewards. Choose from a hand picked selection of rewards -from
          enchanting stays, premium memberships, workshops and other
          experiential rewards from the brands you love, meetings with your
          favourite celebrities & visionaries, and much more! These experiential
          rewards are our way of saying "thank you" for all the impact you have
          made, and to celebrate a clutter-free living experience.
        </div>
        <div class="usersp">
          <div class="sptit">
            <p>Your share points</p>
          </div>
          <div class="pointsno">
            <p>6000 SP</p>
          </div>
        </div>
      </div>
      <hr class="border-bottom pb-3 mb-3" />
    </div>

    <div class="mainrewardcard">
      <div class="parent p1">
        <div class="rone reward">
          <div class="rlogo">
            <img
              src="img/rewards/Lenskart-Logo-2013.png"
              alt=""
              class="logoimg"
            />
          </div>
          <div class="text">
            <p>
              Get <br /><span>25% off</span><br />
              on your next Lenskart order
            </p>
          </div>
          <div class="btm">
            <div class="square">
              <div class="circular-piece2 cost">
                <p>10000 sp</p>
              </div>
              <div class="circular-piece2 but">
                <button>Redeem</button>
              </div>
            </div>
            <div class="square">
              <div class="circular-piece">
                <img
                  src="img/rewards/color-splash-svgrepo-com (3).png"
                  alt=""
                  class="rewardimg"
                />
                <img src="img/rewards/3.png" alt="" class="glasses" />
              </div>
            </div>
          </div>
        </div>

        <div class="rone reward rtwo">
          <div class="rlogo">
            <img src="img/rewards/myntra-930x620.webp" alt="" class="logoimg" />
          </div>
          <div class="text">
            <p>
              Get <br /><span>10% off</span><br />
              on your Myntra order
            </p>
          </div>
          <div class="btm">
            <div class="square">
              <div class="circular-piece2 cost">
                <p>9000 sp</p>
              </div>
              <div class="circular-piece2 but">
                <button>Redeem</button>
              </div>
            </div>
            <div class="square">
              <div class="circular-piece">
                <img
                  src="img/rewards/color-splash-svgrepo-com (3).png"
                  alt=""
                  class="rewardimg"
                />
                <img
                  src="img/rewards/Untitled design (4).png"
                  alt=""
                  class="glasses swigcard"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="rone reward rthree">
          <div class="rlogo">
            <img src="img/rewards/swiggy.png" alt="" class="logoimg" />
          </div>
          <div class="text">
            <p>
              Get <br /><span>flat 250 off</span><br />
              on your next Swiggy Order
            </p>
          </div>
          <div class="btm">
            <div class="square">
              <div class="circular-piece2 cost">
                <p>8000 sp</p>
              </div>
              <div class="circular-piece2 but">
                <button>Redeem</button>
              </div>
            </div>
            <div class="square">
              <div class="circular-piece">
                <img
                  src="img/rewards/color-splash-svgrepo-com (3).png"
                  alt=""
                  class="rewardimg"
                />
                <img
                  src="img/rewards/Untitled design (3).png"
                  alt=""
                  class="glasses swigcard"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="parent p2">
        <div class="rone reward rfour">
          <div class="rlogo">
            <img
              src="img/rewards/61309b0c48f1e3000491018c.png"
              alt=""
              class="logoimg"
            />
          </div>
          <div class="text">
            <p>
              Get <br /><span>30% off</span><br />
              on your next McDonald's order
            </p>
          </div>
          <div class="btm">
            <div class="square">
              <div class="circular-piece2 cost">
                <p>5000 sp</p>
              </div>
              <div class="circular-piece2 but">
                <button>Redeem</button>
              </div>
            </div>
            <div class="square">
              <div class="circular-piece">
                <img
                  src="img/rewards/color-splash-svgrepo-com (3).png"
                  alt=""
                  class="rewardimg"
                />
                <img src="img/rewards/8.png" alt="" class="glasses swigcard" />
              </div>
            </div>
          </div>
        </div>

        <div class="rone reward rfive">
          <div class="rlogo">
            <img src="img/rewards/Amazon_icon.svg.png" alt="" class="logoimg" />
          </div>
          <div class="text">
            <p>
              Get <br /><span>8% off</span><br />
              on your Amazon order
            </p>
          </div>
          <div class="btm">
            <div class="square">
              <div class="circular-piece2 cost">
                <p>15000 sp</p>
              </div>
              <div class="circular-piece2 but">
                <button>Redeem</button>
              </div>
            </div>
            <div class="square">
              <div class="circular-piece">
                <img
                  src="img/rewards/color-splash-svgrepo-com (3).png"
                  alt=""
                  class="rewardimg"
                />
                <img
                  src="img/rewards/Untitled design (6).png"
                  alt=""
                  class="glasses swigcard"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="rone reward rthree rsix">
          <div class="rlogo">
            <img
              src="img/rewards/Starbucks_Corporation_Logo_2011.svg.png"
              alt=""
              class="logoimg"
            />
          </div>
          <div class="text">
            <p>
              Get <br /><span>Free</span><br />
              drink at Starbucks
            </p>
          </div>
          <div class="btm">
            <div class="square">
              <div class="circular-piece2 cost">
                <p>2000 sp</p>
              </div>
              <div class="circular-piece2 but">
                <button>Redeem</button>
              </div>
            </div>
            <div class="square">
              <div class="circular-piece">
                <img
                  src="img/rewards/color-splash-svgrepo-com (3).png"
                  alt=""
                  class="rewardimg"
                />
                <img
                  src="img/rewards/Untitled design (5).png"
                  alt=""
                  class="glasses swigcard"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="footer">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">About us</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Donate</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Projects</a>
          </li>
        </ul>
        <p class="text-center text-body-secondary">
          © 2024 DOOR STEP DONATION, Inc
        </p>
      </footer>
    </section>
  </body>
</html>
