<head>
  <link rel="stylesheet" href="css/navbar.css" />
</head>

<nav>
  <a class="logo" href="/">
    <img src="img/logo-nav.svg" alt="NGO Logo" />
  </a>
  <ul class="nav-bar">
    <li class="nav-bar_item"><a href="/">Home</a></li>
    <li class="nav-bar_item"><a href="/about">About</a></li>
    <li class="nav-bar_item"><a href="/rewards">Rewards</a></li>
    <li class="nav-bar_item">
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>
